.Collection{
    width: 100%;
    background: #191932;
    height: 100%;
    padding: 20px 40px;
    position: relative;
    border-radius: 40px 40px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: auto;
}

.Collection.closed{
    overflow: hidden !important;
}

@media screen and (max-width: 900px){
    .Collection{
        padding: 10px 20px;
        border-radius: 20px 20px 0 0;
    }
}

.main-header{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 40px;
}

.projects-flex-collection{
    width: 100%;
    max-width: 1088px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}