.NftProjectCointainer{
    /*border: 1px solid white;*/
    border-radius: 20px;
    padding: 8px;
}

.project-header{
    margin: 0;
    font-weight: bolder;
}

.nfts-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 12px;
}