.NFTTile{
    /*transition: box-shadow 0.1s;*/
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    /*border: 1px solid white;*/
    /*cursor: none;*/
    transform-origin: 50% 50%;
    display: flex;
    height: 340px;
    flex-direction: column;

    transform: translateX(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.2);
    max-width: max-content;
}

.NFTTile:hover .nft-data{
    height: 60px;
}

.nft-price{
    margin-bottom: 16px;
}

.nft-card-button{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none !important;
    z-index: 8;
}

.nft-artwork{
    width: 300px;
    height: 320px;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.nft-data{
    transition: all 0.5s;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 36px;
    transform: translateY(-10px);
    z-index: 10;
}

.force-close-button{
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none !important;
    border: none;
    padding: 0;
}

.allocate-button{
    transition: all 0.2s;
    border: none;
    outline: none !important;
    margin-top: 4px;
    border-radius: 8px;
    background: rgb(31, 189, 122);
    padding: 6px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.allocate-button.not-valid{
    background: rgba(255, 255, 255, 0.2);
}

.spinner-container{
    position: absolute;
    right: 10px;
}

.nft-data.open{
    height: 180px !important;
}